
/*RESOLUCIONES DE 320, 375, 425, 768, 1024, 1440 y 1920px con un zoom de 100%*/

  
  @media screen and (min-width: 1920px){
    .title{
      background-color: rgb(70, 54, 85);
      color: white;
      font-size:6em;
      margin-bottom: 1vh;
      text-align: center;
      font-weight: 500;
    }
  
    .instrucciones{
      color: rgb(70, 54, 85);
      font-size: 2.5em;
      margin-bottom: 1vh;;
    }

    .tablaFija{
        position:absolute;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap:8px; 
        left:20vw;
    }

    .imagenFija{
        width:8vw;
        height: 19.5vh;
        filter: grayscale(100%);
    }

    .imagenFijaSelected{
      filter: grayscale(0%);
  }
    
    #campeon {
        position:absolute;
        top:23vh;
        left: 63vw;
        width: 20vw;
        height: 50vh;
    }
  
     #cartaRandom{
         position:relative;
         left:70vw;
         top:55vh;
         font-size:1em;  
     }
    
     .container{
       position:absolute;
       top: 23vh;
       left:15vw;
       width:70vw;
       display:none;
     }
      
     .row { 
        height:18vh;
        line-height:1em;
      }
      
      .box {
        display:inline-block;
        width:10.5vw;
        height: 14vh;
        height:auto;
        box-sizing:border-box;
      }
    
      .imageCampeon {
        width:10vw;
        height: 18.5vh;
        filter: grayscale(100%);
      }
    
      .imageCampeonSelected {
        filter: grayscale(0%) !important;
      }
    
  }
  
  @media screen and (min-width: 1440px) and (max-width: 1919px){
    .title{
      background-color: rgb(70, 54, 85);
      color: white;
      font-size:6em;
      margin-bottom: 1vh;
      text-align: center;
      font-weight: 500;
    }
  
    .instrucciones{
      color: rgb(70, 54, 85);
      font-size: 2.5em;
      margin-bottom: 1vh;;
    }

    .tablaFija{
        position:absolute;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap:8px; 
        left:20vw;
    }

    .tablaFija:hover{
       cursor:pointer;
       filter:brightness(1.1)
    }

    .imagenFija{
        width:8vw;
        height: 18.4vh;
    }
    
    #campeon {
        position:absolute;
        top:23vh;
        left: 63vw;
        width: 20vw;
        height: 50vh;
    }
  
     #cartaRandom{
         position:relative;
         left:70vw;
         top:55vh;
         font-size:1em;  
     }
    
     .container{
       position:absolute;
       top: 23vh;
       left:15vw;
       width:70vw;
       display:none;
     }
      
     .row { 
        height:18vh;
        line-height:1em;
      }
      
      .box {
        display:inline-block;
        width:10.5vw;
        height: 14vh;
        height:auto;
        box-sizing:border-box;
      }
    
      .imageCampeon {
        width:10vw;
        height: 18.5vh;
        filter: grayscale(100%);
      }
    
      .imageCampeonSelected {
        filter: grayscale(0%) !important;
      }
    
  }

  @media screen and (min-width: 1024px) and (max-width: 1439px){
    .title{
      background-color: rgb(70, 54, 85);
      color: white;
      font-size:6em;
      margin-bottom: 1vh;
      text-align: center;
      font-weight: 500;
    }
  
    .instrucciones{
      color: rgb(70, 54, 85);
      font-size: 2.5em;
      margin-bottom: 1vh;;
    }

    .tablaFija{
        position:absolute;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap:8px; 
        left:13vw;
    }

    .tablaFija:hover{
       cursor:pointer;
       filter:brightness(1.1)
    }

    .imagenFija{
        width:10vw;
        height: 18vh;
    }
    
    #campeon {
        position:absolute;
        top:25vh;
        left: 63vw;
        width: 25vw;
        height: 50vh;
    }
  
     #cartaRandom{
         position:relative;
         left:69vw;
         top:54vh;
         font-size:1em;  
     }
    
     .container{
       position:absolute;
       top: 23vh;
       left:15vw;
       width:70vw;
       display:none;
     }
      
     .row { 
        height:18vh;
        line-height:1em;
      }
      
      .box {
        display:inline-block;
        width:10.5vw;
        height: 14vh;
        height:auto;
        box-sizing:border-box;
      }
    
      .imageCampeon {
        width:10vw;
        height: 18.5vh;
        filter: grayscale(100%);
      }
    
      .imageCampeonSelected {
        filter: grayscale(0%) !important;
      }
    
  }

  @media screen and (min-width: 768px) and (max-width: 1039px){
    .title{
      background-color: rgb(70, 54, 85);
      color: white;
      font-size:6em;
      margin-bottom: 1vh;
      text-align: center;
      font-weight: 500;
    }
  
    .instrucciones{
      color: rgb(70, 54, 85);
      font-size: 2.5em;
      margin-bottom: 1vh;;
    }

    .tablaFija{
        position:absolute;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap:8px; 
        left:7vw;
    }

    .tablaFija:hover{
       cursor:pointer;
       filter:brightness(1.1)
    }

    .imagenFija{
        width:12vw;
        height: 17vh;
    }
    
    #campeon {
        position:absolute;
        top:30vh;
        left: 63vw;
        width: 30vw;
        height: 46vh;
    }
  
     #cartaRandom{
         position:relative;
         left:70vw;
         top:54vh;
         font-size:1em;  
     }
    
     .container{
       position:absolute;
       top: 23vh;
       left:10vw;
       width:70vw;
       display:none;
     }
      
     .row { 
        height:18vh;
        line-height:1em;
      }
      
      .box {
        display:inline-block;
        width:10.5vw;
        height: 14vh;
        height:auto;
        box-sizing:border-box;
      }
    
      .imageCampeon {
        width:10vw;
        height: 18.5vh;
        filter: grayscale(100%);
      }
    
      .imageCampeonSelected {
        filter: grayscale(0%) !important;
      }
    
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    .title{
      background-color: rgb(70, 54, 85);
      color: white;
      font-size:3em;
      margin-bottom: 1vh;
      text-align: center;
      font-weight: 500;
    }
  
    .instrucciones{
      color: rgb(70, 54, 85);
      font-size: 1.2em;
      margin-bottom: 1vh;;
    }

    .tablaFija{
        position:absolute;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap:6px; 
        left:2vw;
    }

    .tablaFija:hover{
       cursor:pointer;
       filter:brightness(1.1)
    }

    .imagenFija{
        width:15vw;
        height: 14vh;
    }
    
    #campeon {
        position:absolute;
        top:14vh;
        left: 70vw;
        width: 25vw;
        height: 30vh;
    }
  
     #cartaRandom{
         position:relative;
         left:70vw;
         top:34vh;
         font-size:1em;  
     }
    
     .container{
       position:absolute;
       top: 23vh;
       left:10vw;
       width:70vw;
       display:none;
     }
      
     .row { 
        height:18vh;
        line-height:1em;
      }
      
      .box {
        display:inline-block;
        width:10.5vw;
        height: 14vh;
        height:auto;
        box-sizing:border-box;
      }
    
      .imageCampeon {
        width:10vw;
        height: 18.5vh;
        filter: grayscale(100%);
      }
    
      .imageCampeonSelected {
        filter: grayscale(0%) !important;
      }
    
  }
  
  
  
  
  